.CartProductWrap {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #cdcdcd;
}

.itemDetails {
  flex: 1;
}
.itemActions {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.deleteBtn {
  background: none;
}

.deleteBtn svg {
  width: 24px;
  height: 24px;
}
